:root {
    --book-cover-width: 20rem;
    --book-cover-width-large: 32.5rem;
    --book-cover-aspect-ratio: .75;
}

.book-cover {
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio) );
}

.book-cover-large {
    --book-cover-width: var(--book-cover-width-large)
}

.book-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2.5rem;
    grid-template-columns: repeat(auto-fill, var(--book-cover-width));

}

.book-grid-large {
    grid-template-columns: repeat(auto-fill, var(--book-cover-width-large));
}

.book-details {
    display: flex;
}
.book-details-label {
    font-size: 2.5rem;
    font-weight: 500;
    align-self: flex-start;
}

.book-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    margin-left: 3rem;
}
.book-details-btn-grid {
    display: grid;
    grid-template-areas: "edit delete" "author author";
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    grid-gap: .8rem;
    margin-top: .6rem;
    
}

.book-details-author-btn {
    grid-area: author;
    justify-self: stretch;
}