<h2>Edit author</h2>
<%- include("../partials/_errorMessage") %> 
<form action="/authors/<%= author.id %>/?_method=PUT" method="POST">
    <%- include("../partials/_form_fields")  %> 
<a href="/authors/<%= author.id %>">Cancel</a>
<button>Update</button>
</form>