<h2>new author</h2>

<form action="/authors" method="POST">
    <%- include("../partials/_form_fields")  %> 
<a class="btn btn-danger" href="/authors">Cancel</a>
<button class="btn btn-primary">Create</button>
</form>